# CSV-to-RAG API
LLM_RAW_COMPLETION_ENDPOINT=http://localhost:3000/api/completion
LLM_RAW_COMPLETION_API_KEY=${LLM_RAW_COMPLETION_API_KEY}

# LLM completion
OPENROUTER_API_KEY=${OPENROUTER_API_KEY}
OPENROUTER_MODEL=openai/gpt-4o-mini-2024-07-18