<%- include('header') %>
        <h1 class="text-3xl font-bold mb-2">Prompt-to-tools</h1>
        <h2 class="text-1xl font-bold">cURL, SQL, Table, Graph</h2>
        <p class="text-sm text-gray-500 mb-2">Run SQL and Graph generation is not available in the online version yet</p>
        <%- include('use-main-prompt') %>
        
        <%- include('sidebar') %>
        <toast-container></toast-container>
<%- include('footer') %>
